<!doctype html>
<html>
  <head>
    <title>Chinese Girl </title>
    <link rel="stylesheet" href=" s">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="btn-group" role="group" aria-label="...">
 
  <button type="button" class="btn btn-default">Fiona is a dumbass</button>
 
</div>
</body>

</html>