<!doctype html>
<html>
  <head>
    <title>Conclusion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript"src="js/cycle.js"></script>
   <script type="text/javascript"src="js/intro.js"></script>
  </head>
  <body id="stuff">
  <div class="container">
    <div class="row text-center">
  <h1>Conclusion</h1>
  <p id="asian">You’ve experienced living in the shoes of an Asian person having a conversation with a person. This is what we experience on a daily basis in society. How’d you feel? Upset? Mortified? Like you are more than just these criticisms? We hope that you understand how it’s like living in our shoes now. Stereotypes don’t only cater to Asians though, it’s a universal controversy that pertains to a variety of ethnicities, genders, occupations and etc.. We hope that by the end of this, you guys can be more considerate next time you make a stereotypical comment. Stop and think about how you felt after going through this experience. Perhaps you’ll be more open-minded and gain something special from defying against being prejudiced. Spread the word, encourage your friends and family to be more open minded as well, make a difference. 
</p>
  <h1>Dedication</h1>
  <p>We’d like to thank our wonderful Flat Iron family for being so supportive and amazing! Thank you Danny and Vanessa for being the most inspiring teachers who always make us laugh and push us out of our comfort zone. We’d also like to thank our friends and family for being encouraging and letting us have such a great opportunity. Finally, we’d like to thank each other for working together without actually killing each other! 
</p>
 <a href="./nationality">
  <button id="button" type="button" class="btn btn-primary start">Start</button> 
       </div>
  </div>



  
</body>

</html>