<!doctype html>
<html>
  <head>
    <title>Asian Stereotypes </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/cycle.js"></script>
  <script type="text/javascript" src="js/intro.js"></script>
  </head>
  <body>
  <div class="container slideshow">
    <div class="row text-center">
    </div>
    <div class="row text-center">
      <h1>Breaking Asian Stereotypes</h1>
      <p>Sometimes it's hard being an Asian. We're sick of answering the same questions every time. It’s hard when people don't get it. It’s understandable however, that perhaps not everyone is not ignorant but actually unaware of the struggles we go through. Take this journey with us in having a convo with someone in our shoes. For this brief conversation you're asian, experiencing the oversimplified and widely held taboos that we have to experience everyday.</p>
      <a href="./nationality">
      <button type="button" class="btn btn-primary start">Start</button> 
      </a>
    </div>

  </div>



  
</body>

</html>