<!doctype html>
<html>
  <head>
    <title>Nationality </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div class="container">
    <div class="row text-center" background-color: white>
  <h1></h1>
  <p></p>    
  <form action="/nationality" method="post">
  <h2> What nationality are you?</h2>

  <p>
  <select name="nationality">
    <option value="Chinese" selected>Chinese</option>
    <option value="Korean" selected>Korean</option>
    <option value="Indian" selected>Indian</option>
  </select>
  </p>
  <p>
  <label>
  <input type="radio" name="gender" value="Boy" checked> Boy
  </label>
  <label>
  <input type="radio" name="gender" value="Girl"> Girl
  </label>
  </p>
  <p>
  <input type="submit" name="submit" value="Send">
  </p>

  </form>
     </div>
  </div>



  
</body>

</html>