@import url('http://fonts.googleapis.com/css?family=Oxygen:400,300,700');

h1 {
  font-size: 40px;
  font-weight: bold;
   color: black;
    text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff;  
 }
 h2{
    font-size: 40px;
  font-weight: bold;
   color: black;
    text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff;  
 }
 label {
   font-size: 20px;
    font-weight: bold;
     color: black;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
 }
 #submitbutton{
  height: 40px;
  width: 140px;
  font-size: 25px;
}

 
#asian {
  font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: bold;
     color: black;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}
#button{height: 50px;
  width: 140px;
  font-size: 30px;
}
 #stuff { 
  background: url("http://blogs.ubc.ca/jaleesjaswal/files/2014/10/people-holding-hands-around-the-world-md.png")  repeat; 
 nowhitespace: afterproperty;
  background-repeat: repeat;
  }
   #nationality { 
  background: url("http://regents.ac.th/bangkok/source/page/large/35.jpg")  repeat; 
 nowhitespace: afterproperty;
  background-repeat: repeat;
  }



