h1 {
  font-size: 40px;
  font-weight: bold;

 }
p {
   font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: bold;
}
 body { 
  background: url("http://blogs.ubc.ca/jaleesjaswal/files/2014/10/people-holding-hands-around-the-world-md.png")  repeat; 
 nowhitespace: afterproperty;
  background-repeat: repeat;
  }
